.header {
    color: rgb(106, 90, 205);
    text-align: center;
    padding: 10px;
}

.back-div {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}